*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fafafa;
}
a{
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}

/* header */
.header{
  height: 68px;
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 1;
}
.header-wrapper{
  margin-top: 15px; 
  display: flex;
  justify-content: space-between;
}
.header-logo{
  margin-left: 20px;
}
.header-logo img{
  align-items: center;
}
.header-nav{
  display: flex;
  font-size: 18px;
}
.nav-list{
  gap: 20px;
  font-weight: bold;
  display: flex;
  color: rgb(206, 36, 30);
  margin-top: 15px;
}

.nav-items{}
.button{
  background: linear-gradient(to right ,rgb(245, 17, 9) 0%,rgb(231, 21, 137) 50%,rgb(130, 30, 224) 100%);
  color: #fff;
  margin: 0 20px;
}
.button.head{
  width: 150px;
  height: 50px;
  border-radius: 25px;
}

/* dropDown Nenu */
.exam-slidedown{
  cursor: pointer;
}
.exam-list{
  cursor: pointer;
  height: 100%;
}
.exam-items{
  font-size: 14px;
  text-align: center;
  background-color: rgb(218, 216, 216);
  padding: 10px 5px;
  border-bottom: 2px solid #333;
}
.exam-items:hover{
  background-color: rgb(247, 189, 178);
}
.machine-slidedown{
  cursor: pointer;
}
.machine-list{
  cursor: pointer;
}
.machine-items{
  font-size: 14px;
  text-align: center;
  background-color: rgb(218, 216, 216);
  padding: 10px 5px;
  border-bottom: 2px solid #333;
}
.machine-items:hover{
  background-color: rgb(247, 189, 178);
}

/* modal */
.modal{
  /* display: none; */
  position: absolute; 
  inset: 0;  
}
.modal:before {
  content: "";
  display: block;
  height: 150vh;
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  inset: 0;
}
.overlay.openModal > .modal {
  display: block;
}
.overlay.openModal > .modal-close-button{
  display: block;
}
.modal-content{
  width: 900px;
  height: 540px;
  background-color: #fff;
  border-radius: 30px;
  z-index: 2;
  position: absolute;
  margin-top: 27%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.modal-close-button{
  background-color: rgba(#f2f3f7, .7);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  color: rgb(100,100,100);
  right: 0;
  display: inline-block;
  position: absolute;
  margin: 10px 20px;
}
.modal-buck-button{
  display: none;
  background-color: rgba(#f2f3f7, .7);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  color: rgb(100,100,100);
  left: 0;
  display: inline-block;
  position: absolute;
  margin: 10px 20px;
}


/* main */
.main{
  margin-top: 80px;
}
.box {
  background-color: #fff;
  box-shadow: 5px 5px 2px 0 #e2dede;
}
.both-side{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 20px 10%;
}
.left-side{
  margin-right: 10px;
}
.right-side{
  margin-left: 10px;
}
.hour-section{}
.hour-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  height: 20vh;
  margin-bottom: 20px;
  line-height: 1.5;
}
.box-today{
  text-align: center;
  border-radius: 25px;
  padding-top: 15px;
}
.box-month{
  text-align: center;
  border-radius: 25px;
  padding-top: 15px;
}
.box-total{
  text-align: center;
  border-radius: 25px;
  padding-top: 15px;
}
.hour-title{
  color: rgb(245, 17, 9);
  font-weight: bold;
  font-size: 20px;
}
.hour-time{
  display: block;
  font-weight: bold;
  font-size: 40px;
}
.hour{
  color: rgb(130, 30, 224);
  font-size: 22px;
}
.Todo{
  margin-bottom: 20px;
  height: 55vh;
  border-radius: 30px;
}
.Todo-title{}
.Todo-textarea{
  margin-left: 30px;
  resize: none;
  outline: none;
  border: 4px solid;
  border-image: linear-gradient(to right ,rgb(245, 17, 9) 0%,rgb(231, 21, 137) 50%,rgb(130, 30, 224) 100%) 1;
}
.bar-gragh{
  height:55vh;
  margin-top: 20px;
  border-radius: 30px;
}
.sub-functions{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.timer{
  height: 20vh;
  border-radius: 25px;
}
.countdown{
  height: 20vh;
  border-radius: 20px;
}

/* footer */
.footer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.arrow-left{
  display: block;
}
.footer-year{
  font-size: 18px;
  font-weight: bold;
}
.arrow-right{
  display: block;
}